<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Festival</title>
    <!-- magnific-popup css cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- custom css link -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- header -->

    <header class="header">

        <a href="/" class="logo"> <i class="fas fa-music"></i> Music Festival</a>

        <nav class="navbar">
            <a href="/">Homepage</a>
            <a href="/about-us">About Us</a>
            <a href="/contact-us">Contact Us</a>
        </nav>

        <div id="menu" class="fas fa-bars"></div>

    </header>

    <!-- end -->

    <!-- home -->

    <section class="home" id="home">

        <div class="content">
            <h3>Tickets <br> upto <br> 40% OFF</h3>
            <a href="#shop" class="btn">Book Now</a>
        </div>

    </section>

    <!-- end -->

    <!-- artist -->

    <section class="artist" id="artist">

        <h1 class="heading">Incoming Artist's Events...</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="img/artist1.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>RnB/ HipHop singer</h5>
                    <h3>Rihanna</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/artist4.webp" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>HipHop singer</h5>
                    <h3>Burna Boy</h3>
                </div>
            </div>
            
            <div class="box">
                <div class="image">
                    <img src="img/artist2.png" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>Rapper/ HipHop singer</h5>
                    <h3>nicki minaj</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/artist3.avif" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>RnB/ Rapper/ HipHop singer</h5>
                    <h3>chris brown</h3>
                </div>
            </div>


            <div class="box">
                <div class="image">
                    <img src="img/artist5.webp" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>Urban Music Singer</h5>
                    <h3>Davido</h3>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/artist6.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                    </div>
                </div>
                <div class="content">
                    <h5>Pop/ rock singer</h5>
                    <h3>coldplay</h3>
                </div>
            </div>

        </div>

    </section>

    <!-- end -->

    <!-- events -->

    <section class="shop" id="shop">

        <h1 class="heading">This month events...</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="img/shop-1.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>28th Friday (Jack Burns)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-2.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>29th Saturday (Kendrick Lamar)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-3.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>30th Sunday (Kanye West)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-4.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Wednesday (Ravi Shankar)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-5.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Thursday (Prateek Kuhad)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-6.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Friday (Armaan Malik)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-7.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Saturday (AP Dhillon)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/shop-8.jpg" alt="">
                    <div class="share">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="#" class="fas fa-shopping-cart" onclick="openPaymentForm(event)" onclick="openPaymentForm(event)"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Sunday (Allah Rakha Rahman)</h3>
                    <h5>$28.99</h5>
                </div>
            </div>

        </div>

    </section>
        
    <!-- payment form -->
    
    <div id="payment-form" class="payment-form">
        <form onsubmit="handlePayment(); return false;">
          <div class="payment-form-header">
            <img src="img/google-pay.png" alt="Google Pay Logo" class="payment-form-logo">
          </div>
          <div class="payment-form-body">
            <form onsubmit="handlePayment(); return false;">
            <input type="email" id="email" class="email" placeholder="Enter email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

            <div class="payment-options">
                <label class="payment-option">
                  <input type="radio" name="payment-option" value="phone" class="payment-option-input">
                  <span class="payment-option-text"><i class="fas fa-mobile-alt"></i> Pay from phone</span>
                </label>
                <label class="payment-option">
                  <input type="radio" name="payment-option" value="card" class="payment-option-input" checked>
                  <span class="payment-option-text"><i class="far fa-credit-card"></i> Credit card or debit card</span>
                </label>
            </div>              

            <button class="btn" type="submit">Pay</button>
        </div>
    </form>
  </div>

    <!-- toast message -->
    <div id="paytoast" class="paytoast"></div>

    <!-- end -->

    <!-- gallery -->

    <section class="gallery" id="gallery">

        <h1 class="heading">our gallery</h1>

        <ul class="controls">
            <li class="button active" data-filter="all">all</li>
            <li class="button" data-filter="music">music</li>
            <li class="button" data-filter="party">party</li>
            <li class="button" data-filter="performance">performance</li>
            <li class="button" data-filter="stageshow">stage show</li>
        </ul>

        <div class="box-container">

            <a href="img/gallery-2.jpg" class="image music">
                <img src="img/gallery-2.jpg" alt="">
            </a>

            <a href="img/gallery-4.jpg" class="image music">
                <img src="img/gallery-4.jpg" alt="">
            </a>

            <a href="img/gallery-6.jpg" class="image music">
                <img src="img/gallery-6.jpg" alt="">
            </a>

            <a href="img/gallery-3.jpg" class="image party">
                <img src="img/gallery-3.jpg" alt="">
            </a>

            <a href="img/gallery-5.jpg" class="image party">
                <img src="img/gallery-5.jpg" alt="">
            </a>

            <a href="img/gallery-1.jpg" class="image performance">
                <img src="img/gallery-1.jpg" alt="">
            </a>

            <a href="img/gallery-2.jpg" class="image performance">
                <img src="img/gallery-2.jpg" alt="">
            </a>

            <a href="img/gallery-6.jpg" class="image stageshow">
                <img src="img/gallery-6.jpg" alt="">
            </a>

            <a href="img/gallery-3.jpg" class="image stageshow">
                <img src="img/gallery-3.jpg" alt="">
            </a>

        </div>

    </section>


    <!-- end -->

    <!-- blog -->

    <section class="blog" id="blog">

        <h1 class="heading">our blogs</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="img/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <h3>late night show</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 23rd january 2023</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <h3>late night show</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 23rd january 2023</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="img/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <h3>late night show</h3>
                    <div class="icons">
                        <a href="#"><i class="fas fa-calendar"></i> 23rd january 2023</a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, voluptate.</p>
                    <a href="#" class="btn">read more</a>
                </div>
            </div>

        </div>

    </section>

    <!-- end -->

    <!-- subscribe -->

    <section class="subscribe">

        <div class="row">
            <div class="content">
                <p>subscribe to the newsletter</p>
            </div>

            <div class="inputBox">
                <input type="email" class="email" placeholder="Your email">
                <input type="button" value="subscribe" class="btn">
            </div>

        </div>

    </section>

    <!-- end -->

    <!-- footer -->

    <section class="footer">

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="credit">created by <span>Doram & AnuDeep</span> | all rights reserved!</div>

    </section>

    <!-- end -->

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- magnific popup js cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>